/*ELEMENTS*/
body{
    color: rgb(99, 51, 43);
}
/*CLASSES*/
.home-anchor{
    padding: 7px;
    text-transform: uppercase;
    background-color: hsl(9, 40%, 43%);
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-size: 22px;
    border-radius: 3px;
    border: 0px;
}
.home-anchor:hover{
    box-shadow: 1px 2px 3px rgb(99, 51, 43);
    -webkit-box-shadow: 1px 2px 3px rgb(99, 51, 43);
    -moz-box-shadow: 1px 2px 3px rgb(99, 51, 43);
    text-decoration: none;
    color: white;
}
.bold-font{
    font-weight: bold;
    font-size: larger;
}
.services-icons{
    height: 80px;
    width: auto;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}
.contact-icons{
    background-color: white;
    border-radius: 30%;
    padding: 7px;
}
.servicesDiv{
    margin-top: 30px;
}
.servicesHR{
    border-bottom: 2px dotted rgb(99, 51, 43);
}
.mobileMenuDivLI{
    text-transform: uppercase;
    padding: 4px;
    list-style: none;
}
.mobileMenuDivLI a:visited,a:link{
    text-decoration: none;
    color: white;
}
.mobileMenuDivLI a:hover{
    margin-right: 10px;
}
/*IDs*/
#homeWrapper{
    background-color: white;
    padding: 20px;
}
#company-logo{
    height: 60px;
    width: auto;
    margin-left: 50%;
}
#hamburger-icon{
    height: 40px;
    width: auto;
    margin-right: 60%;
}
#mobileMenuDiv{
    background-color: rgb(99, 51, 43);
    color: white;
    padding: 15px;
    display: none;
    margin: 0 auto;
}
#company-name-H1{
    margin-top: 4px;
}
#company-name-statement-div{
    padding: 50px;
    background-color: rgb(183, 102, 89);
    color: white;
    margin-bottom: 30px;
}
#contactHR{
    border: 1px solid rgb(99, 51, 43);
    width: 50%;
}
#slider{
    width: 100%;
}
#mail_icon{
    height: 40px;
    width: auto;
}
#phone_icon{
    height: 70px;
    width: auto;
}
#mail-row{
    margin-top: 20px;
}
#phone-row{
    margin-top: 10px;
}
#footer{
    background-color: rgb(152, 78, 56);
    color: white;
    padding: 15px;
}
@media screen and (max-width:1199px)
{
	#company-logo{
        height: 60px;
        width: auto;
        margin-left: 40%;
    }
}
/*MEDIUM DEVICES*/
@media screen and (max-width:993px)
{
    #company-name-H1{
        margin-top: 4px;
        font-size: 28px;
    }
}
/*SMALL DEVICES*/
@media screen and (max-width:769px)
{
    [class*="col-sm"]:not(:first-child){
        margin-top: 7px;
    }
}
/*EXTRA-SMALL DEVICES*/
@media screen and (max-width:577px)
{
    [class*="col-xs"]:not(:first-child){
        margin-top: 7px;
    }
    #company-logo{
        height: 40px;
        width: auto;
    }
    #hamburger-icon{
        height: 40px;
        width: auto;
    }
    #company-name-H1{
        font-size: 22px;
        margin-top: 4px;
    }
    #company-name-statement-div{
        padding: 12px;
    }
    #company-name-statement-div h1{
        font-size: 28px;
    }
    #company-name-statement-div h2{
        font-size: 20px;
    }
    #services-div h3{
        font-size: 18px;
    }
    #contact-div h3{
        font-size: 18px;
    }
    #mail_icon{
        height: 40px;
        width: auto;
    }
    #phone_icon{
        height: 40px;
        width: auto;
    }
    .services-icons{
        height: 80px;
        width: auto;
    }
    
}
/*EXTRA-EXTRA-SMALL DEVICES*/
@media screen and (max-width:390px)
{
    [class*="col-xs-6"]:not(:first-child){
        margin-top: 7px;
    }
    
    #company-name-span{
        display: none;
    }
}



